dataprocessing
[{"id":"6fc28448.aab4dc","type":"mqtt in","z":"969c8123.0adb28","name":"","topic":"/filiot/data","qos":"2","broker":"3c694b42.0fd864","x":78,"y":108,"wires":[["b9ad8c66.33b84"]]},{"id":"8fa76d87.f970a","type":"comment","z":"969c8123.0adb28","name":"","info":"https://www.codehub.vn/Lam-the-nao-de-ket-noi-Internet-cua-ban-cua-nhung-dieu-voi-Node-RED-tren-Ubuntu-16-04","x":240,"y":234,"wires":[]},{"id":"b9ad8c66.33b84","type":"json","z":"969c8123.0adb28","name":"","property":"payload","action":"","pretty":true,"x":158,"y":162,"wires":[["122d5983.8cfc96"]]},{"id":"3318c506.fb472a","type":"comment","z":"969c8123.0adb28","name":"Flow Add Data to MongoDB","info":"Information : \n    IP 22.66.192.46 \n    LAN IP : 192.168.1.24 Static\n    port 27017\n    enable port forwarding router\n    run MongDB Server (mongod.exe) on --dbpath & --bind_ip_all","x":140,"y":40,"wires":[]},{"id":"7abec57d.0776cc","type":"comment","z":"969c8123.0adb28","name":"Query Data","info":"","x":88,"y":234,"wires":[]},{"id":"122d5983.8cfc96","type":"function","z":"969c8123.0adb28","name":"","func":"var date = new Date();\n//ate = date.toGMTString();\n//date = date.getUTCDate();\nvar mac = msg.payload.mac;\nvar pos = msg.payload.pos;\nvar power = msg.payload.power;\nvar param = msg.payload.param;\nvar extra = msg.payload.extra;\nmsg.payload = {\n    \"mac\":mac,\n    \"pos\":pos,\n    \"power\":power,\n    \"param\":param,\n    \"extra\":extra,\n    \"time\":date\n}\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":108,"wires":[["136956e0.5aff69","5bb40246.7b436c","cf7311d5.3f8e7"]]},{"id":"136956e0.5aff69","type":"debug","z":"969c8123.0adb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":376,"y":36,"wires":[]},{"id":"a1129866.1d6a98","type":"mongodb3 in","z":"969c8123.0adb28","service":"_ext_","configNode":"2d3fd788.621d48","name":"","collection":"irrdata","operation":"aggregate.toArray","x":412,"y":288,"wires":[["73375487.34ea5c"]]},{"id":"73375487.34ea5c","type":"debug","z":"969c8123.0adb28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":754,"y":288,"wires":[]},{"id":"a2477e2.126c08","type":"inject","z":"969c8123.0adb28","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":288,"wires":[["a1129866.1d6a98"]]},{"id":"5bb40246.7b436c","type":"mongodb3 in","z":"969c8123.0adb28","service":"_ext_","configNode":"2d3fd788.621d48","name":"","collection":"irrdata","operation":"insert","x":588,"y":90,"wires":[["788de566.d0e7bc"]]},{"id":"788de566.d0e7bc","type":"debug","z":"969c8123.0adb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":898,"y":90,"wires":[]},{"id":"7ce485f9.4b8bcc","type":"comment","z":"969c8123.0adb28","name":"Truy Van Toan Bo Du Lieu","info":"","x":434,"y":234,"wires":[]},{"id":"cf7311d5.3f8e7","type":"mongodb2 in","z":"969c8123.0adb28","service":"_ext_","configNode":"a457c44e.c8fca8","name":"[Mongo Atlas] Add Data","collection":"irrgation","operation":"insert","x":488,"y":144,"wires":[["3dc6ef5e.5465d"]]},{"id":"3dc6ef5e.5465d","type":"debug","z":"969c8123.0adb28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":700,"y":144,"wires":[]},{"id":"71989844.67c8e8","type":"inject","z":"969c8123.0adb28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96,"y":342,"wires":[["bd16027a.38bd2"]]},{"id":"bd16027a.38bd2","type":"mongodb2 in","z":"969c8123.0adb28","service":"_ext_","configNode":"a457c44e.c8fca8","name":"[Mongo Atlas] Query All","collection":"irrgation","operation":"aggregate.toArray","x":308,"y":342,"wires":[["6090b4ab.39797c"]]},{"id":"6090b4ab.39797c","type":"debug","z":"969c8123.0adb28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":538,"y":342,"wires":[]},{"id":"3c694b42.0fd864","type":"mqtt-broker","z":"","name":"","broker":"m12.cloudmqtt.com","port":"18879 ","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2d3fd788.621d48","type":"mongodb3","z":"","uri":"mongodb://116.107.7.198:27017/dbIotteam","name":"","options":"","parallelism":"-1"},{"id":"a457c44e.c8fca8","type":"mongodb2","z":"","uri":"mongodb://dbAdminCya:Thang123$@fil-iot-data-shard-00-00-sz9x5.mongodb.net:27017,fil-iot-data-shard-00-01-sz9x5.mongodb.net:27017,fil-iot-data-shard-00-02-sz9x5.mongodb.net:27017/fildata?ssl=true&replicaSet=fil-iot-data-shard-0&authSource=admin&retryWrites=true","name":"","options":"","parallelism":"-1"}]
