facebookmessenger
[{"id":"e12784e2.0430e","type":"http in","z":"26ed7d08.b648f2","name":"","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":250,"y":54,"wires":[["e7ccec.34853318"]]},{"id":"e7ccec.34853318","type":"function","z":"26ed7d08.b648f2","name":"Verify Webhook","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'jovhoeggxyc0gy4ezbj3' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":54,"wires":[["ae4098e6.bc4938"]]},{"id":"ae4098e6.bc4938","type":"http response","z":"26ed7d08.b648f2","name":"","statusCode":"","headers":{},"x":608,"y":54,"wires":[]},{"id":"149b47.581174ba","type":"function","z":"26ed7d08.b648f2","name":"Format Send Request","func":"var temp = msg.payload.d.temperature;\nvar hum = msg.payload.d.humidity;\nvar date = new Date();\nvar tuoinuoc = false;\nvar tempmax=40;\nvar text = \"Tình hình cây trồng :\\n\";\ntext += \"Nhiệt độ : \" + temp + \"\\n\";\ntext += \"Độ ẩm : \" + hum + \"\\n\";\n\nif ( hum < 30)\n{\n    text += \"Đất khô quá, tưới nước đi !\\n\";\n    tuoinuoc = true ;\n}\nif ((hum >= 30) && (hum <= 80) && tuoinuoc)\n{\n    text += \"Đủ nước rồi !\\n\";\n    tuoinuoc = false;\n}\n\nif (hum > 90)\n{\n    text += \"Độ ẩm cao không tốt cho cây !\\n\";\n}\n\nif (temp >= tempmax)\ntext += \"Nhiệt độ vượt ngưỡng !\\n\";\n\n\ntext +=\"Time: \" + date + \"\\n\";\n\nvar senderId = \"1929291577161158\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":820,"wires":[["47a9319c.055d6"]]},{"id":"7a1051c3.f4a4f8","type":"http request","z":"26ed7d08.b648f2","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAgMabuw1zQBAPen62fqtMvwo6MCnnzKZBX2lseZBdB8JIqjzmoatRpAVbkxq1YXJWlaGDeTf3HGPIice2WSdilmE5ENMNuaDh9uVhHktc5oVal6AyPZCgwuBVvOBkxdd94vpzTFQSOfQHHaLZAbVpGc3WTlIMZAeDScFzZCg5EAZDZD","tls":"","x":486,"y":180,"wires":[["70e9c08d.614f2"]]},{"id":"dd562dc2.e85908","type":"comment","z":"26ed7d08.b648f2","name":"Get with FB","info":"Thiết lập Webhooks . FB sẽ gửi nhận tại địa chỉ :\nhttps://conv-201-196-testtreetracking.eu-gb.mybluemix.net/urlcallback","x":88,"y":54,"wires":[]},{"id":"427ec6b7.2bb49","type":"comment","z":"26ed7d08.b648f2","name":"Example","info":"","x":81,"y":721,"wires":[]},{"id":"8382f5d6.fd3ef","type":"inject","z":"26ed7d08.b648f2","name":"","topic":"","payload":"{\"d\":{\"Name\":\"treetrackingtester\",\"temperature\":29,\"humidity\":44}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":82,"y":820,"wires":[["149b47.581174ba"]]},{"id":"ec0f3c28.563ec8","type":"comment","z":"26ed7d08.b648f2","name":"Input","info":"Cảm biến gửi bản tin bao gồm thông tin về nhiệt độ và độ ẩm dưới dạng file .json .\n","x":77,"y":771,"wires":[]},{"id":"93fa6927.6c34d","type":"comment","z":"26ed7d08.b648f2","name":"Xử lý đầu vào, chèn text và gửi lên FB","info":"Function tách các value từ bản tin nhận được sau đó xử lý text đầu ra để gửi lên fb.\n(*) SenderID là ID của fb cá nhân cần gửi thông báo.","x":302,"y":769,"wires":[]},{"id":"bc067bbf.0cb8f","type":"comment","z":"26ed7d08.b648f2","name":"FB nhận text","info":"(*) Method : POST .\n\n(*) URL : https://graph.facebook.com/v2.6/me/messages?access_token= <mã xác minh>\n","x":583,"y":765,"wires":[]},{"id":"e0ee17b8.d9296","type":"http in","z":"26ed7d08.b648f2","name":"","url":"/callback","method":"post","upload":true,"swaggerDoc":"","x":98,"y":198,"wires":[["8de4b932.6a34d","d357667b.74a13","7f9222cf.b88fbc"]]},{"id":"8de4b932.6a34d","type":"http response","z":"26ed7d08.b648f2","name":"","statusCode":"","headers":{},"x":284,"y":162,"wires":[]},{"id":"d357667b.74a13","type":"debug","z":"26ed7d08.b648f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.entry.0.messaging.0.sender.id","x":386,"y":288,"wires":[]},{"id":"73ddade9.a1557c","type":"link in","z":"26ed7d08.b648f2","name":"ADB OUTPUT","links":["df1b991a.519308"],"x":69,"y":952,"wires":[["99d9773e.fa02c8"]]},{"id":"7f9222cf.b88fbc","type":"function","z":"26ed7d08.b648f2","name":"String Out","func":"var temp = global.get('temp');\nvar hum = global.get('hum');\nvar evap = global.get('evap');\nvar light= global.get('light');\nvar action = global.get('action');\nvar str = [\"Không\",\"Vừa\",\"Nhiều\"];\nvar date = new Date();\nvar text = \"Thông số vừa cập nhật :\\n\";\ntext += \"Nhiệt độ : \" + temp + \" °C\\n\";\ntext += \"Độ ẩm : \" + hum + \" %\\n\";\ntext += \"Tốc độ bay hơi : \" +evap+ \" (%/s)\\n\";\ntext += \"Cường độ ánh sáng : \" + light + \" (lux)\\n\";\ntext += \"Mức bơm nước : \" + str[action] + \"\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = msg.payload.entry[\"0\"].messaging[\"0\"].sender.id\n//var senderId = \"1820392304750563\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":304,"y":198,"wires":[["13ba1d56.90c993","7a1051c3.f4a4f8"]]},{"id":"13ba1d56.90c993","type":"debug","z":"26ed7d08.b648f2","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":494,"y":234,"wires":[]},{"id":"99d9773e.fa02c8","type":"function","z":"26ed7d08.b648f2","name":"","func":"var light = msg.payload.value.light;\nvar temp = msg.payload.value.temperature;\nvar hum = msg.payload.value.humidity;\nvar evap = msg.payload.value.evaporation;\nvar act = msg.payload.value.action;\nglobal.set('light',light);\nglobal.set('temp',temp);\nglobal.set('hum',hum);\nglobal.set('evap',evap);\nglobal.set('action',act);\nreturn msg;","outputs":1,"noerr":0,"x":194,"y":988,"wires":[["81b783ad.717bd8"]]},{"id":"81b783ad.717bd8","type":"debug","z":"26ed7d08.b648f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":1024,"wires":[]},{"id":"47a9319c.055d6","type":"http request","z":"26ed7d08.b648f2","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAgMabuw1zQBAJwrc3M8CU5xjG8Xp7cy9tLazZBDIlASNncGMqZAfkTKRzJUtH6tzSUCwtttgMziNPiTrUMhSdKmFQdyeOUR9XP2es60fBnhJXSDaJdIDzCZBEgJ4A5uYi61wAS0fwqFNftEaFVe0ZAQf6yHQ8EDUvZA2P9RQZBAZDZD","tls":"","x":530,"y":820,"wires":[["5c631aa8.84324c"]]},{"id":"5c631aa8.84324c","type":"http response","z":"26ed7d08.b648f2","name":"","statusCode":"","headers":{},"x":747,"y":820,"wires":[]},{"id":"70e9c08d.614f2","type":"debug","z":"26ed7d08.b648f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":664,"y":180,"wires":[]},{"id":"8e7436cd.ba3a","type":"comment","z":"26ed7d08.b648f2","name":"Event handling","info":"","x":98,"y":126,"wires":[]}]
