fakedatainput
[{"id":"feb53a9f.19302","type":"inject","z":"3bb3e48b.351834","name":"Device_1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":72,"wires":[["e8922e26.02906"]]},{"id":"e8922e26.02906","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (90 - 45) + 45);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\n\nmsg.payload={\n    \"mac\":\"21:65:D9:E4:53:2D\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":0          \n        },\n    \"power\":12,\n    \"param\": \n        {\n            \"light\": light,\n            \"temp\":temp,\n            \"hum\":hum,\n            \"eva\":evap,\n            \"act\":i\n        },\n    \"extra\": null\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":74,"wires":[["ee145a0b.527e9"]]},{"id":"754474bf.e4822c","type":"inject","z":"3bb3e48b.351834","name":"Device_2","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":142,"y":198,"wires":[["57e17a98.24a2a4"]]},{"id":"57e17a98.24a2a4","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"mac\":\"6C:E2:1C:FF:A0:21\",\n    \"pos\":\n        {\n            \"x\":1,\n            \"y\":0\n        },\n    \"power\":21,\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        },\n    \"extra\":null\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":112,"wires":[["35905fef.c45458"]]},{"id":"78c370bb.f76d5","type":"inject","z":"3bb3e48b.351834","name":"Device_3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["c2f948ca.82b098"]]},{"id":"c2f948ca.82b098","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"C5:AF:CE:58:D8:DE\",\n    \"pos\":\n        {\n            \"x\":2,\n            \"y\":0\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":152,"wires":[["6052255e.5a7bf4"]]},{"id":"d93a9d09.c55288","type":"inject","z":"3bb3e48b.351834","name":"Device_4","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["3bd23b9a.550f64"]]},{"id":"3bd23b9a.550f64","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"1D:71:82:5C:7A:B1\",\n    \"pos\":\n        {\n            \"x\":3,\n            \"y\":0\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":192,"wires":[["dbc084e9.a4c36"]]},{"id":"a015a46a.41e5c8","type":"inject","z":"3bb3e48b.351834","name":"Device_5","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["c9ef4d83.e98fe8"]]},{"id":"c9ef4d83.e98fe8","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"00:50:06:B1:7F:01\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":232,"wires":[["e8b5ab3e.687438"]]},{"id":"cecbce88.ac974","type":"inject","z":"3bb3e48b.351834","name":"Device_6","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["7f007341.3577c4"]]},{"id":"7f007341.3577c4","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"_id\":\"AD:F6:27:76:17:0A\",\n    \"pos\":\n        {\n            \"x\":1,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":272,"wires":[["7f6f4549.3a7b4c"]]},{"id":"e5ccd405.fc58e","type":"inject","z":"3bb3e48b.351834","name":"Device_7","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["464a577e.ea62d"]]},{"id":"464a577e.ea62d","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"EE:4A:E3:EE:BE:09\",\n    \"pos\":\n        {\n            \"x\":2,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":312,"wires":[["f6a0f833.e2d69"]]},{"id":"e026c6a8.2bca6","type":"inject","z":"3bb3e48b.351834","name":"Device_8","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["cb544fd4.28526"]]},{"id":"cb544fd4.28526","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"9B:5C:93:7C:51:D5\",\n    \"pos\":\n        {\n            \"x\":3,\n            \"y\":1\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":352,"wires":[["e4699cf2.6de838"]]},{"id":"c673d76e.408128","type":"inject","z":"3bb3e48b.351834","name":"Device_9","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["b1821ca1.8b0708"]]},{"id":"b1821ca1.8b0708","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"8E:A1:34:BA:C0:57\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":392,"wires":[["a67771a7.c44fe8"]]},{"id":"4cde1c02.239bfc","type":"inject","z":"3bb3e48b.351834","name":"Device_10","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["611ac6f8.feb35"]]},{"id":"611ac6f8.feb35","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"0C:40:2C:4A:44:A5\",\n    \"pos\":\n        {\n            \"x\":1,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":432,"wires":[["c1f537c7.9a101"]]},{"id":"2b5b0a54.258a5e","type":"inject","z":"3bb3e48b.351834","name":"Device_11","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["a5abba3c.1dba8"]]},{"id":"a5abba3c.1dba8","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"BA:A9:5F:2B:5A:B3\",\n    \"pos\":\n        {\n            \"x\":2,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":472,"wires":[["bde49511.7ee1e"]]},{"id":"c220cdb9.e6416","type":"inject","z":"3bb3e48b.351834","name":"Device_12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["32b2f03.49ca49"]]},{"id":"32b2f03.49ca49","type":"function","z":"3bb3e48b.351834","name":"","func":"var temp = Math.round(Math.random() * (23 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 83) + 83);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \"id\":\"01:50:5D:A9:53:49\",\n    \"pos\":\n        {\n            \"x\":3,\n            \"y\":2\n        },\n    \"param\": \n        {\n            \"light\": light,\n            \"temperature\":temp,\n            \"humidity\":hum,\n            \"evaporation\":evap,\n            \"action\":i\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":512,"wires":[["96f0b1ec.39bb9"]]},{"id":"35905fef.c45458","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":202,"wires":[]},{"id":"6052255e.5a7bf4","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":242,"wires":[]},{"id":"dbc084e9.a4c36","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":282,"wires":[]},{"id":"e8b5ab3e.687438","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":322,"wires":[]},{"id":"7f6f4549.3a7b4c","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":362,"wires":[]},{"id":"f6a0f833.e2d69","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":402,"wires":[]},{"id":"e4699cf2.6de838","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":442,"wires":[]},{"id":"a67771a7.c44fe8","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":482,"wires":[]},{"id":"c1f537c7.9a101","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":522,"wires":[]},{"id":"bde49511.7ee1e","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":562,"wires":[]},{"id":"96f0b1ec.39bb9","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":638,"y":602,"wires":[]},{"id":"ee145a0b.527e9","type":"mqtt out","z":"3bb3e48b.351834","name":"Center_Broker","topic":"/filiot/data","qos":"2","retain":"true","broker":"3c694b42.0fd864","x":624,"y":90,"wires":[]},{"id":"3c694b42.0fd864","type":"mqtt-broker","z":"","name":"","broker":"m12.cloudmqtt.com","port":"18879 ","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
