monitoring
[{"id":"29a67a65.89476e","type":"subflow","name":"Subflow 2","info":"","in":[{"x":300,"y":140,"wires":[{"id":"c3eaeaf5.ee2b7"}]}],"out":[]},{"id":"c3eaeaf5.ee2b7","type":"http request","z":"29a67a65.89476e","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":450,"y":140,"wires":[["ed93ba5e.68468"]]},{"id":"ed93ba5e.68468","type":"http response","z":"29a67a65.89476e","name":"","statusCode":"","headers":{},"x":610,"y":140,"wires":[]},{"id":"7e7dbff.2ecc24","type":"function","z":"5a06ca21.c33824","name":"Action","func":"var action = msg.payload.value.action;\nvar str = [\"No\",\"Litter\",\"Many\"];\nmsg.payload = str[action];\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":306,"wires":[["b51cb52b.11c3b8"]]},{"id":"eaa22b26.2f778","type":"function","z":"5a06ca21.c33824","name":"Temperature","func":"msg.topic=\"Temperature(°C)\";\nmsg.payload = msg.payload.value.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":86,"wires":[["7b85dde5.1cff6c","5da0ffe8.d873"]]},{"id":"e355071b.e5a","type":"function","z":"5a06ca21.c33824","name":"Humidity","func":"msg.topic=\"Humidity(%)\";\nmsg.payload = msg.payload.value.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":146,"wires":[["1be2dcd9.757e83","5da0ffe8.d873"]]},{"id":"24c228a6.498488","type":"function","z":"5a06ca21.c33824","name":"Evaporation","func":"msg.topic=\"Evaporation(%/s)\";\nmsg.payload = msg.payload.value.evaporation;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":206,"wires":[["940d0204.596ea8","22f6fb8b.104614"]]},{"id":"f4707857.d079e8","type":"function","z":"5a06ca21.c33824","name":"Light","func":"msg.topic=\"Light(x10lux)\";\nmsg.payload = msg.payload.value.light/10.0;\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":246,"wires":[["f2e0ab91.9aa9f8","22f6fb8b.104614"]]},{"id":"256d0ef1.17f722","type":"json","z":"5a06ca21.c33824","name":"","property":"payload","action":"","pretty":false,"x":186,"y":206,"wires":[["eaa22b26.2f778","e355071b.e5a","24c228a6.498488","f4707857.d079e8","7e7dbff.2ecc24","df1b991a.519308"]]},{"id":"df1b991a.519308","type":"link out","z":"5a06ca21.c33824","name":"ADB","links":["54759b6d.9c5b94","73ddade9.a1557c"],"x":431,"y":366,"wires":[]},{"id":"3c7e0fef.4d6c18","type":"inject","z":"5a06ca21.c33824","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204,"y":396,"wires":[["e88ed5e6.6fea8"]]},{"id":"e88ed5e6.6fea8","type":"function","z":"5a06ca21.c33824","name":"Data Fake","func":"var temp = Math.round(Math.random() * (27 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 67) + 67);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (20 - 15) + 15);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n \n \"value\": \n {\n \"light\": light,\n \"temperature\":temp,\n \"humidity\":hum,\n \"evaporation\":evap,\n \"action\":i\n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":456,"wires":[["2db98ccc.bbfaec"]]},{"id":"2db98ccc.bbfaec","type":"debug","z":"5a06ca21.c33824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":554,"y":496,"wires":[]},{"id":"ee347f78.153038","type":"comment","z":"5a06ca21.c33824","name":"Nhận dữ liệu từ Cloudmqtt","info":"","x":110,"y":72,"wires":[]},{"id":"59eb0f9d.bf29b8","type":"comment","z":"5a06ca21.c33824","name":"Covert bản tin nhận được sang JSON_payload","info":"","x":176,"y":266,"wires":[]},{"id":"f6ac9cbe.0291d8","type":"comment","z":"5a06ca21.c33824","name":"Các hàm lấy các giá trị từ payload","info":"","x":436,"y":46,"wires":[]},{"id":"cd10e9aa.18c688","type":"comment","z":"5a06ca21.c33824","name":"Đưa các thông số lên chart_board","info":"","x":766,"y":46,"wires":[]},{"id":"b51cb52b.11c3b8","type":"ui_text","z":"5a06ca21.c33824","group":"a44b2bb9.603be8","order":5,"width":0,"height":0,"name":"","label":"Water Pump","format":"{{msg.payload}}","layout":"row-spread","x":686,"y":326,"wires":[]},{"id":"7b85dde5.1cff6c","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"18","seg2":"40","x":686,"y":86,"wires":[]},{"id":"1be2dcd9.757e83","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":2,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#ffff00","#00ff00","#ff8040"],"seg1":"65","seg2":"90","x":676,"y":166,"wires":[]},{"id":"940d0204.596ea8","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":3,"width":"4","height":"4","gtype":"gage","title":"Evaporation","label":"","format":"{{value}} %/s","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"25","seg2":"75","x":686,"y":206,"wires":[]},{"id":"f2e0ab91.9aa9f8","type":"ui_gauge","z":"5a06ca21.c33824","name":"","group":"a44b2bb9.603be8","order":4,"width":"4","height":"4","gtype":"gage","title":"Light","label":"","format":"{{value}} lux","min":0,"max":"100","colors":["#ffff00","#0ed818","#ca3838"],"seg1":"15","seg2":"75","x":666,"y":286,"wires":[]},{"id":"5da0ffe8.d873","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"f67532d2.53e378","order":0,"width":0,"height":0,"label":"Temperature and Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":735,"y":123,"wires":[[],[]]},{"id":"22f6fb8b.104614","type":"ui_chart","z":"5a06ca21.c33824","name":"","group":"f67532d2.53e378","order":0,"width":0,"height":0,"label":"Light and Evaporation","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":716,"y":246,"wires":[[],[]]},{"id":"54759b6d.9c5b94","type":"link in","z":"5a06ca21.c33824","name":"Gth","links":["df1b991a.519308"],"x":105,"y":810,"wires":[["587566a3.2b241","3c6f7d05.dd6682","67ac581c.6776a8"]]},{"id":"587566a3.2b241","type":"switch","z":"5a06ca21.c33824","name":"Nguong Nhiet Do","property":"payload.value.temperature","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":257,"y":654,"wires":[["bdbfc5c1.f923a"],[]]},{"id":"bdbfc5c1.f923a","type":"function","z":"5a06ca21.c33824","name":"Warning Temperature","func":"var temp = msg.payload.value.temperature;\nvar date = new Date();\nvar text = \"Nhiệt độ vượt ngưỡng ! ( \"+temp+\" °C)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":654,"wires":[["49df7463.9f34b4"]]},{"id":"1b521200.44f02e","type":"function","z":"5a06ca21.c33824","name":"Format Send Request","func":"var hum = msg.payload.value.humidity;\nvar date = new Date();\nvar text = \"Độ ẩm vượt ngưỡng ! ( \"+hum+\" %)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":507,"y":794,"wires":[["d2a89cbd.117518"]]},{"id":"3c6f7d05.dd6682","type":"switch","z":"5a06ca21.c33824","name":"Nguong Do Am","property":"payload.value.humidity","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":267,"y":794,"wires":[["1b521200.44f02e"]]},{"id":"20be4a08.dde026","type":"function","z":"5a06ca21.c33824","name":"Format Send Request","func":"var hum = msg.payload.value.humidity;\nvar date = new Date();\nvar text = \"Cường độ ánh sáng vượt ngưỡng ! ( \"+hum+\" lux)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":715,"wires":[["d4dbdd9b.b00db"]]},{"id":"67ac581c.6776a8","type":"switch","z":"5a06ca21.c33824","name":"Nguong Anh Sang","property":"payload.value.light","propertyType":"msg","rules":[{"t":"gt","v":"900","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":267,"y":719,"wires":[["20be4a08.dde026"]]},{"id":"49df7463.9f34b4","type":"subflow:29a67a65.89476e","z":"5a06ca21.c33824","name":"","x":687,"y":654,"wires":[]},{"id":"d4dbdd9b.b00db","type":"subflow:29a67a65.89476e","z":"5a06ca21.c33824","x":699,"y":713,"wires":[]},{"id":"d2a89cbd.117518","type":"subflow:29a67a65.89476e","z":"5a06ca21.c33824","x":707,"y":794,"wires":[]},{"id":"cd0eec55.6b923","type":"comment","z":"5a06ca21.c33824","name":"Kiểm tra các ngưỡng và gửi cảnh báo","info":"","x":457,"y":574,"wires":[]},{"id":"a44b2bb9.603be8","type":"ui_group","z":0,"name":"Instant Value","tab":"773adf2d.b7c68","order":1,"disp":true,"width":"8","collapse":false},{"id":"f67532d2.53e378","type":"ui_group","z":0,"name":"Graphics","tab":"773adf2d.b7c68","order":2,"disp":false,"width":"12","collapse":false},{"id":"773adf2d.b7c68","type":"ui_tab","z":0,"name":"FIL's IoT Testbed","icon":"dashboard","order":1}]
